<h1>Welcome to Fitbit integration</h1>

<h2>Here's how to get started: </h2>

<h3>1. Follow the link below to get your fitbit access code</h3>
<%= link_to "Fitbit ", @oauth_access_url, target: "_blank" %>

<h3>1. Enter your code here</h3>
<%= form_tag("/user", method: "get")  do |f| %>
  <%= label_tag :verifier %><br>
  <%= text_field_tag :verifier %>
  <%= submit_tag("Search") %>
<% end %>>
